<div class="message" *ngIf="1>1">
  warning!
    <app-message>
    </app-message>
</div>
<div class="mainsection">
    <div class="overlay"></div> 
        <div class="display">
            <div class="biglogo">    
                    <img class="logo2" src="../../assets/images/logo-2.png">
            </div>
            <!-- <br> -->
            <div class="tagline">
            <img class="modernlogo" src="../../assets/images/modern.png"></div>
            
        </div>
        <div class="controlbox">
                <div class="controls">
                    <!-- <a class="btn btn-secondary" href="/login" role="button">Login</a>
                    <a class="btn btn-light" href="/member" role="button">Members</a> -->
                    <a class="btn btn-warning" href="/team" role="button">Teams</a>
                    <a class="btn btn-info" href="/customer" role="button">Customers</a>
                    <a class="btn btn-success" href="/about" role="button">About Us</a>
                    <!-- <a class="btn btn-dark" href="/logout" role="button">Logout</a> -->
                </div>
            </div>

    <!-- <div class="tagline" ><h5> Modern Web Applications</h5></div> -->
   
</div>
        <!-- <div class="picturebox-v">
            <img src="/assets/images/Riley_Yosemite_Waterfall_sm.jpg">
        </div> -->
   