<div class="message" *ngIf="1>1">
  warning!
    <app-message>
    </app-message>
</div>
<div class="mainsection">
    <div class="overlay"></div> 
    <div class="display">
        <app-brand-box>
            <div logo1 class="logo1">
                <img  src="../../assets/images/logot2.png">
            </div>
            <div logo2 class="logo2">
                <img src="../../assets/images/modernt.png">
            </div>
        </app-brand-box>
    </div>
    <div class="controlbox" [@scrollAnimation1]="state1">
        <div class="controls">
            <a [@projState]="projState" class="btn btn-info" (click)="itemClick('project');" role="button">Projects</a>
            <a [@techState]="techState" class="btn btn-info" (click)="itemClick('tech');" role="button">Technologies</a>
            <a [@aboutState]="aboutState" class="btn btn-info" (click)="itemClick('about');" role="button">About</a>
            <!-- <a class="btn btn-success" href="/about" role="button">About Us</a> -->
        </div>
        <div class="contentbox" *ngIf="projState==='expanded'" > 
                <h4> Team Captain<br>Emily Webster Photography<br>JSweeper<br></h4>
          </div>
        <div class="contentbox" *ngIf="techState==='expanded'" > 
              <h4> Angular 2+<br>SCSS<br>Sails.js<br></h4>
        </div>
          <div class="contentbox" *ngIf="aboutState==='expanded'" > 
                <h4>We Are:<br>Jeremy Webster<br>Nathan Webster<br></h4>
          </div>
    </div>
    <div class="appearbox" [@scrollAnimation]="state2">
        <h2>Pizza for everyone</h2>       
    </div>

</div>
