@import '~sass/variables';
@import '~sass/mixins';
.mainsection{
    background-color: $back-color;
    height:100%;
    display: -ms-grid;
    display:grid;
    grid-template-rows: 5% 2fr 2fr 2fr 2fr 2fr 5%;
    -ms-grid-rows:5% 2fr 2fr 2fr 2fr 2fr 5%;
    grid-template-columns:12% 2fr 2fr 2fr 2fr 2fr 2fr 12%;
    -ms-grid-columns:1fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
    margin:0px -12px;
    background:url('../../assets/images/yos1.jpg') no-repeat center fixed;
}
.overlay{
    grid-row:1/8;
    -ms-grid-row:1;
    -ms-grid-row-span: 7;
    grid-column:1/9;
    -ms-grid-column:1;
    -ms-grid-column-span:8;
    background:rgba(200,200,200,0.5);
}
.display{
    grid-row:3/4;
    -ms-grid-row:2;
    -ms-grid-row-span: 1;
    grid-column:2/8;
    -ms-grid-column:2;
    -ms-grid-column-span:6;
     padding:4px;
    background-color:$back-color;
    display: -ms-grid;
    display:grid;
    grid-template-rows: 1% 56% 40% 3%;
    -ms-grid-rows:10% 2fr 2fr 2fr 10%;
    grid-template-columns:8% 2fr 2fr 2fr 8%;
    -ms-grid-columns:1fr 2fr 2fr 2fr 2fr 1fr;
    border-radius:8px;
}

.biglogo{
    grid-row:2/3;
    -ms-grid-row:2;
    -ms-grid-row-span: 1;
    grid-column:2/5;
    -ms-grid-column:2;
    -ms-grid-column-span:3;
    display:flex;
    justify-content:center;
    align-items:center;
}
.logo2
{
    width:80%;
    @include aspect-ratio($main-logo-aspect,1);
}
.tagline{
    grid-row:3/4;
    -ms-grid-row:3;
    -ms-grid-row-span: 1;
    grid-column:2/5;
    -ms-grid-column:3;
    -ms-grid-column-span:3;
   // height:100px;
   display:flex;
   justify-content:center;
}
.modernlogo{
    width:50%;
    @include aspect-ratio($modern-logo-aspect,1);
}
.controlbox{
    grid-row:6/7;
    -ms-grid-row:3;
    -ms-grid-row-span: 1;
    grid-column:4/6;
    -ms-grid-column:3;
    -ms-grid-column-span:3;
    background-color:$back-color;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:8px;
}
.controls .btn{
     margin:2px 3px !important;

}


.picturebox-v{
    flex:23%;
    max-width: 23%;
    padding:4px 8px;
    
}
.picturebox-h{
    flex:41%;
    max-width: 41%;
    padding:4px 8px;
    
}

// img{
//     vertical-align: middle;
//     width: 100%;
// }
// img:last-of-type{
//     margin-bottom: 8px;
// }

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 1024px) {
    .picturebox {
        flex: 31%;
        max-width: 31%;
        padding:4px 8px;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 768px) {
    .picturebox {
        flex: 48%;
        max-width: 48%;
        padding:2px 2px;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 480px) {
    .picturebox {
        flex: 100%;
        max-width: 100%;
        padding:1px 1px;
    }
}
.message{
    background-color:$warn-color;
}

.side{
    flex-grow:1;
    background-color:$admin-color;
}

btn{
    margin:10px !important;
    padding:10px !important;
}
